html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'source-sans-pro',  Helvetica, Arial, sans-serif;
	font-size: 100%;
	overflow-x: hidden;
	color: #000000;
	background-image: url("images/AAEAAQAAAAAAAAgBAAAAJGM5YTk3YWNiLTRjOTItNDMwMy1hYjE4LTM2ZjIwMmZhZjFiMg.jpg");
	background-repeat: no-repeat;
}

.title {
	color: #0d698a;
	text-align: center;
}

.contenu {
	margin-left: 6em;
	margin-right: 6em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

p {
margin-left: 5em;
font-size: 130%;
font-weight: bold;
}

h2 {
	color: red;
	text-align: center;
}
