html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'source-sans-pro',  Helvetica, Arial, sans-serif;
	font-size: 100%;
	overflow-x: hidden;
	color: #292929;
	background-image: url("../images/AAEAAQAAAAAAAAgBAAAAJGM5YTk3YWNiLTRjOTItNDMwMy1hYjE4LTM2ZjIwMmZhZjFiMg.jpg");
	background-repeat: no-repeat;
}

h1 {
	color: #987b33;
	margin: 2.5em;
}

.contenu a {
  text-decoration: none;
	color: #1C1C1C;
	font-family: 'source-sans-pro',  Helvetica, Arial, sans-serif;
}

.ligne {
	border-bottom: 1px solid #1C1C1C;

}

.contenu {
	color: #1C1C1C;
	transition: 0.3s ease-out;
}
.sous_contenu{
	margin-left: 2.5em;
	margin-right: 2.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contenu:hover {
	transition: 0.3s ease-out;
  /*filter: opacity(70%);*/
	cursor: pointer;
	background-color: white;
}

.nom-article {
	font-size: 110%;
	font-weight: bold;
}

.type {
	/*padding-left: 2.5em;*/
}

.prix, .stock_oui, .stock_non {
	font-size: 180%;
	font-weight: bold;
}
.stock_oui{
	color : green;
}
.stock_non{
	color: red;
}
.stock_oui, .stock_non {
	display: none;
}
.contenu:hover .stock_oui, .contenu:hover .stock_non {
	display: block;
}
.logo-art img{
	display: inline-block;
	width: 15em;
	transition: 0.3s ease-out;
}
