$color_texte : #a38365;

.footer{
  border-top: solid;
  border-color: $color_texte;
  margin-top: 50px;
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  .boutons{
    display: inline-flex;
    width: 22%;
    justify-content: space-between;
    margin: 20px;
    a{
      color: $color_texte;
      transition: all 200ms ease;
      &:hover{
        color:black;
        transition: all 200ms ease;
      }
    }
  }
  p{
    color: $color_texte;
    font-size: 20px;
  }
}
